.wrapper {
    width: 46.125rem;
    margin-top: -1.7rem;
    gap: 0.5rem;

    display: flex;
    flex-direction: row;
}

.searchInput {
    width: 100%;
    height: 3.375rem;
    border-radius: 8px;
    background: var(--gray-500);
    padding-left: 1rem;
    color: var(--gray-100);
    border: 1px solid var(--gray-700);
}

.searchInput:focus {
    outline: none;
    border: 1.5px solid var(--purple-dark);
}

.searchInput::placeholder {
    color: var(--gray-300);
}

.searchButton>span {
    font-size: 0.875rem;
    font-weight: bold;
}

.searchButton {
    min-width: 5.625rem;
    height: 3.25rem;
    border-radius: 8px;
    background: var(--blue-dark);
    color: var(--gray-100);
    cursor: pointer;
    border: 0 solid;

    gap: 0.4em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.searchButton:hover {
    background: var(--blue);
}

.buttonIcon {
    line-height: 0;
}

@media (max-width: 768px) {
    .wrapper {
        width: 25rem;
    }
}

@media (max-width: 468px) {
    .wrapper {
        width: 20rem;
    }
}